@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 62.5%;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19a2ae;
  position: relative;
  overflow: hidden;
}

.main__img {
  position: absolute;
  width: 600px;
}

.main__img--top {
  top: calc(-400px + 15vw);
  left: calc(-460px + 15vw);
}

.main__img--bottom {
  bottom: calc(-380px + 15vw);
  right: calc(-460px + 15vw);
}
