

// sections that contains the profile card centered in both axis.
.main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    position: relative;
    overflow: hidden;
    z-index: -2;
    &__img{
        position: absolute;
        width: 600px;
        z-index: -1;
        // The position change for responsivnes from mobile to tablet with the "calc()" function
        &--top{
            top:calc(-400px + 15vw);
            left:calc(-460px + 15vw);
        }
        &--bottom{
            bottom:calc(-380px + 15vw);
            right:calc(-460px + 15vw);
        }
    }
}


@media only screen and (min-width:1080px){
    .main__img{
        width:800px;
        &--top{
            top: -360px;
            left: -260px;
        }
        &--bottom{
            bottom: -490px ;
            right:  -260px ;
        }
    }
}

@media only screen and (min-width:1200px){
    .main__img{
        width:1000px;
        &--top{
            top: -550px;
            left: -350px;
        }
        &--bottom{
            bottom: -700px ;
            right:  -260px ;
        }
    }
}